# Copyright 2025-present Alibaba Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Clang Test

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:

concurrency:
  group: ${{ github.repository }}-${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  ubuntu:
    name: AMD64 Ubuntu 24.04
    runs-on: ubuntu-24.04
    timeout-minutes: 120
    strategy:
      fail-fast: false
    steps:
      - name: Checkout paimon-cpp
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          lfs: true
      - name: Build Paimon
        shell: bash
        env:
          CC: clang
          CXX: clang++
        run: ci/scripts/build_paimon.sh $(pwd) false true
